* {
  margin: 0;
}

body {
  background: url("images/goat.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
li {
  width: 100px;
  text-align: center;
  font-weight: bold;
}


#footer  {
  height: 50px;
  width: 100%;
  background-color: green;
  position: fixed;
  bottom: 0px;
}

footer h2 {
  text-align: center;
  margin: 10px;
  padding-bottom: 50%;
}

.container {
  border: solid black 1px;
  margin-top: 30px;
}

#welcome, #cal{
  background: rgba(44, 44, 44, 0.7);
  border-radius: 15px;
  color: white;
  padding: 2%;
}
